wheel==0.41.2
aivle-gym @ git+https://github.com/edu-ai/aivle-gym.git@elevator
pyRDDLGym @ git+https://github.com/tasbolat1/pyRDDLGym.git
cloudpickle==2.2.1
gym==0.26.2
gym-notices==0.0.8
importlib-metadata==6.0.0
numpy==1.24.2
pygame==2.2.0
pyzmq==25.0.0
zipp==3.15.0
